@media only screen and (max-width: 430px) {
  /* ----------- Global Components ----------- */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Bottom Navigation */

  /* Button  */

  /* Card */

  /* Icons */

  /* User Input fields */

  /* ----------- Explore Page ----------- */

  /* Map */
 
  /* Filter Overlay */

  /* Search Bar */

  /* Slider Tab */

  /* Location Icon */



 /* ----------- Tutorial Pages ----------- */





 
  /* ----------- Saved Toilet Page ----------- */









  /* ----------- Not Logged In Page ----------- */









  /* ----------- Login Page ----------- */










  /* ----------- Profile Page ----------- */


}